header{
	border-radius: 20px 20px 0px 0px;
}
nav{
	width: 98%;
	position:absolute; top: 110px; left: 12.5px; z-index: 1;
}
#nav_bar ul{
	list-style: none;
	padding: .5em 0;
	background-color: #70747b;
	text-align: center;
	height: 40px;
	border-top: dotted white;
	
}
#nav_bar li{
	display: inline;
}
#nav_bar a{
	padding: 1em 1em;
	color: white;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 3px;
}
h1{
	color: black;
	padding-bottom: .1em;
	margin-top:31px;
	margin-bottom:31px;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	border-radius:20px 20px 0px 0px; 
	line-height: 20px;
	font-size: 20px;
}	

#title_left{
	border-radius: 0px 0px 20px 20px;
}
#howitworks{
	padding: 40px 20px 0px 0px;
}
#DNRLogo{
	padding: 20px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
}

footer{
	border: 1px;
	color: #4d6781;
	border-radius: 10px 10px 10px 10px;
	clear: left;
}
html{
	display: block;
}
.container{
	width: 960px;
}
.container{
	margin-right: auto;
	margin-left: auto;
}
	

#contact_info{
	padding; 1em;
}
form{
	margin: 1 auto;
	width: 400px;
	padding: 3em;
	border: 2px solid;
	border-radius: 3em;
	background: #FFFFFF;
}
form div + div{
	margin right: 1em;
	
}

label{
	display: inline-block:
	width: 100px;
	text-align: right;
}
input textarea{
	font: 1em sans-serif;
	width: 300px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid;
}
.button{
	padding-left: 90px;
}
button{
	margin-left: .5em;
}
#topdata{
	margin-top: 20px;
	float: right;
	text-align: right;
	margin-right: 10px;
}

